<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<appender name="console" class="org.apache.log4j.ConsoleAppender">
		<param name="target" value="System.out" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d [%t] %-5p %c %x - %m%n" />
		</layout>
	</appender>

	<appender name="normal" class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="../logs/mobilesurf.log" />
		<param name="Append" value="true" />
		<param name="MaxFileSize" value="8000KB" />
		<param name="MaxBackupIndex" value="20" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d [%t] %-5p %c %x - %m%n" />
		</layout>
	</appender>

	<appender name="ftpInfo" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="../logs/ftpInfo.log" />
		<param name="Append" value="true" />
		<param name="DatePattern" value=".yyyy-MM-dd" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d [%t] %-5p %c %x - %m%n" />
		</layout>
	</appender>

	<!--	<logger name="FtpInfo">-->
	<logger name="FtpInfo" additivity="false">
		<level value="INFO" />
		<appender-ref ref="ftpInfo" />
	</logger>

	<appender name="splitInfo" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="../logs/splitFileInfo.log" />
		<param name="Append" value="true" />
		<param name="DatePattern" value=".yyyy-MM-dd" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d [%t] %-5p %c %x - %m%n" />
		</layout>
	</appender>


	<!--	<logger name="SplitFileInfo">-->
	<logger name="SplitFileInfo" additivity="true">
		<level value="INFO" />
		<appender-ref ref="splitInfo" />
	</logger>
	
	<logger name="com.cplatform.bj.mobileserf.filter.JamonPerformanceMonitorExtendsInterceptor">
		<level value="TRACE" />
  	</logger>
  	
	<root>
		<level value="info" />
		<appender-ref ref="console" />
		<appender-ref ref="normal" />
	</root>



</log4j:configuration>
